<div class="sign-in">
  <h4>Sign in to Tilbin</h4>
  <%= render "application/flashes" %>
  <div class="card sign-in__form">
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>
    </div>
  </div>
  <div class="card sign-in__register-link">
    <div class="card-body">
      <p>New to Tilbin? <%= link_to "Create an account", new_user_registration_path %>.</p>
    </div>
  </div>
</div>
